examples/postgres.json
[
    {
        "id": "954fe8939780f9dc",
        "type": "jdbc",
        "z": "8c3e2f6b58b15146",
        "name": "",
        "url": "jdbc:postgresql://127.0.0.1/",
        "user": "postgres",
        "password": "",
        "driver": "postgresql-42.2.23.jar",
        "credentials": {
            "password": ""
        },
        "x": 610,
        "y": 240,
        "wires": [
            [
                "f5a2a9fa0a338341"
            ]
        ]
    },
    {
        "id": "f5a2a9fa0a338341",
        "type": "debug",
        "z": "8c3e2f6b58b15146",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "9d8954b5.2c2ba8",
        "type": "inject",
        "z": "8c3e2f6b58b15146",
        "name": "SELECT * FROM postalcode;",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SELECT * FROM postalcode;",
        "payloadType": "str",
        "x": 380,
        "y": 260,
        "wires": [
            [
                "954fe8939780f9dc"
            ]
        ]
    },
    {
        "id": "bc356619.5e7468",
        "type": "inject",
        "z": "8c3e2f6b58b15146",
        "name": "INSERT INTO postalcode VALUES ('2440817', 'Yokohama');",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "INSERT INTO postalcode VALUES ('2440817', 'Yokohama');",
        "payloadType": "str",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "954fe8939780f9dc"
            ]
        ]
    },
    {
        "id": "d749b71e.7802f8",
        "type": "inject",
        "z": "8c3e2f6b58b15146",
        "name": "CREATE TABLE postalcode (code INTEGER, address VARCHAR(255));",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "CREATE TABLE postalcode (code INTEGER, address VARCHAR(255));",
        "payloadType": "str",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "954fe8939780f9dc"
            ]
        ]
    },
    {
        "id": "9f1111463694e56a",
        "type": "inject",
        "z": "8c3e2f6b58b15146",
        "name": "DROP TABLE postalcode;",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "DROP TABLE postalcode;",
        "payloadType": "str",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "954fe8939780f9dc"
            ]
        ]
    },
    {
        "id": "367f0b8bf06153df",
        "type": "comment",
        "z": "8c3e2f6b58b15146",
        "name": "<- Type 'password' in password field",
        "info": "",
        "x": 840,
        "y": 240,
        "wires": []
    }
]
